<div class="col-sm-12">
<div class="bs-docs-header" id="content">
</div>
</div>
<div class="user-profile">
  <div class="icon text-center">
    <img src="<%= gravatar_url(@user, size: 100) %>" alt="" class="img-circle">
  </div>
  <div class="name text-center">
    <h1><%= @user.name %></h1>
    <%= link_to 'ベッドマップへ', patients_path, class: 'btn btn-success' %>


  </div>
  
</div>
<%= render 'layouts/footer' %>