
<div class="honbun">


<h1>id: <%= @ninstruction.id %> の編集ページ</h1>

<%= render 'form', ninstruction: @ninstruction %>

<%= link_to '一覧に戻る', ninstructions_path %>
<%= link_to '削除', @ninstruction, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
</div>
